.encrypt{
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 145px);
    padding-bottom: 40px;
}
.en__body{
    margin:  50px 300px;
    text-align: center;
    background-color: var(--back);
    padding: 30px 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
    color: white;
}
.en__body h3{
    padding-bottom: 20px;
}
.en__button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.en__button a{
    width: 100%;
}
.en__button button{
    margin-top: 30px;
    
    border-radius: 0px;
    padding: 10px;
    width: 40%;
    border: none;
    font-size: medium;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.modal {
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); 
  backdrop-filter: blur(10px);

  /* Black w/ opacity *//* Black w/ opacity */
  }
  

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: var(--back);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    height:40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: white;
  }
  
  
  /* The Close Button */
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .close1 {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
    padding: 2px 16px;
    background-color: var(--primarydark);
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 10px;
  }
  .modal-body {
      padding: 50px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.modal-footer {
  padding: 2px 16px;
  background-color: var(--primarydark);
  color: white;
}
#myModal > div > div.modal-body > div > a> button,#myModal1 > div > div.modal-body > div > a > button{
    width: 80%;
}