.navbar{

    height:65px;
    background-image: linear-gradient(-60deg, #4641FF 0%, #6C63FF 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    z-index: 100;
    top: 0;
    position: sticky;
    box-shadow: 0 4px 18px rgba(0,0,0,0.7);
    padding-right: 30px;
    border-radius: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.navbar> a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.header__logo{
    flex: 1;
    padding-left: 50px;
    
}
.header__nav{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex: 3;
}
.header__nav .header__options a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__nav .header__options{
    padding: 10px;
    margin: 0 20px;
    
    
}
.header__nav .header__options a:hover{
    color: rgb(49, 49, 49);
}
