.signup{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-60deg, var(--back) 0%, #111 100%);
}
.signup__container{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 15px 20px rgba(0,0,0,0.7);
}
.signup__left{
    height: 100%;
    background-color: var(--primary);
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.signup__right .signup__header{
   display:flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 20px;
   padding-top: 40px;
   color: var(--secondary);
}
.signup__right .signup__header a{
    text-decoration: none;
}
.signup__right{
    height: 100%;
    background-color: white;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 50px);
    
}
.signup__head{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    font-weight: 500;
    

}
.signup__form{
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 70%;
}
.signup__form form{
    width: 100%;
}
.signup__form form h5{
    color: white;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}
.signup__form form input{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background-color: #423cb1;
    border: none;
    border-radius: 5px;
    
}
.signup__form form input::placeholder{
    color: rgb(241, 240, 240);
    font-weight: 500;
}
.signup__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.signup__button button{
   
    margin-top: 30px;
    background-color: var(--third);
    border-radius: 50px;
    padding: 10px;
    width: 70%;
    border: none;
    font-size: medium;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}
/* f007 */